name: golangci-lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: golangci-lint
        env:
          GOPROXY: "https://proxy.golang.org,direct"
          GO111MODULE: "on"
        uses: golangci/golangci-lint-action@v2
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.29
          args: --timeout=30m --skip-dirs='[extern]'
          skip-pkg-cache: true
          skip-build-cache: true
